<?xml version="1.0" encoding="UTF-8"?>
<PathOfBuilding2>
	<Mode mode="BUILD">
		<Arg string="D:/Git/POB/pob_chinese/Builds/Druid COC pebzdruid.xml"/>
		<Arg string="Druid COC pebzdruid"/>
	</Mode>
	<Accounts tokenExpiry="nil"/>
	<SharedItems>
		<Item>
			Rarity: RARE
Bramble Branch
Dueling Wand
Unique ID: cd4164152f09b211f72d5a127870a44e6530483eeaf145a4da7d5b80b2af1094
Item Level: 81
Quality: 20
Sockets: S S
Rune: Hedgewitch Assandra&apos;s Rune of Wisdom
Rune: Saqawal&apos;s Rune of the Sky
LevelReq: 84
Implicits: 6
{enchant}{rune}+1 to Level of all Spell Skills
{enchant}{rune}Gain 5% of Damage as Extra Damage of all Elements
{enchant}{rune}Bonded: 12% chance when collecting an Elemental Infusion to gain an
{enchant}{rune}additional Elemental Infusion of the same type
{enchant}{rune}Bonded: Archon recovery period expires 30% faster
Grants Skill: Level 19 Spellslinger
{desecrated}34% increased Cast Speed
Gain 24% of Damage as Extra Cold Damage
Gain 32% of Damage as Extra Lightning Damage
111% increased Spell Damage
+6 to Level of all Cold Spell Skills
70% increased Critical Hit Chance for Spells
		</Item>
		<Item>
			Rarity: RARE
Dragon Thirst
Dueling Wand
Unique ID: dd62d16fe4a415de2102fd80e41b85ef89ccdaedb49d7e6d004e4e3280177433
Item Level: 81
Quality: 20
Sockets: S S
Rune: Hedgewitch Assandra&apos;s Rune of Wisdom
Rune: Saqawal&apos;s Rune of the Sky
LevelReq: 78
Implicits: 6
{enchant}{rune}+1 to Level of all Spell Skills
{enchant}{rune}Gain 5% of Damage as Extra Damage of all Elements
{enchant}{rune}Bonded: 12% chance when collecting an Elemental Infusion to gain an
{enchant}{rune}additional Elemental Infusion of the same type
{enchant}{rune}Bonded: Archon recovery period expires 30% faster
Grants Skill: Level 18 Spellslinger
{fractured}+5 to Level of all Cold Spell Skills
{desecrated}89% increased Elemental Damage
Gain 25% of Damage as Extra Fire Damage
97% increased Spell Damage
53% increased Critical Hit Chance for Spells
23% increased Cast Speed
Corrupted
		</Item>
		<Item>
			Rarity: RARE
New Item
Dueling Wand
Crafted: true
Prefix: {range:0.824}SpellDamageGainedAsCold4
Prefix: {range:1}SpellDamageGainedAsLightning6
Prefix: {range:0.408}SpellDamageOnWeapon8_
Suffix: {range:1}GlobalColdSpellGemsLevelWeapon5
Suffix: {range:0.729}IncreasedCastSpeed7
Suffix: {range:0.768}SpellCriticalStrikeChance6_
Quality: 20
Sockets: S S
Rune: Saqawal&apos;s Rune of the Sky
Rune: Hedgewitch Assandra&apos;s Rune of Wisdom
LevelReq: 84
Implicits: 6
{enchant}{rune}+1 to Level of all Spell Skills
{enchant}{rune}Bonded: 12% chance when collecting an Elemental Infusion to gain an
{enchant}{rune}Bonded: additional Elemental Infusion of the same type
{enchant}{rune}Bonded: Archon recovery period expires 30% faster
{enchant}{rune}Gain 5% of Damage as Extra Damage of all Elements
{range:0.951}Grants Skill: Level (1-20) Spellslinger
Gain 24% of Damage as Extra Cold Damage
Gain 30% of Damage as Extra Lightning Damage
111% increased Spell Damage
+5 to Level of all Cold Spell Skills
70% increased Critical Hit Chance for Spells
34% increased Cast Speed
		</Item>
		<Item>
			Rarity: RARE
New Item
Shrine Sceptre (Purity of Lighting)
Spirit: 208
Crafted: true
Prefix: {range:1}LocalIncreasedSpiritPercent8
Prefix: {range:1}IncreasedMana11
Prefix: None
Suffix: {range:0.493}Intelligence8
Suffix: None
Suffix: None
Quality: 20
Sockets: S
Rune: Rabbit Idol
LevelReq: 78
Implicits: 3
{enchant}{rune}10% increased Spirit
{enchant}{rune}Bonded: Minions have 30% increased Cooldown Recovery Rate for Command Skills
{range:0.915}Grants Skill: Level (1-20) Purity of Lightning
98% increased Spirit
+207 to maximum Mana
+32 to Intelligence
		</Item>
		<Item>
			Rarity: RARE
1400D
Dueling Wand
Crafted: true
Prefix: {range:1}SpellDamageGainedAsCold6
Prefix: {range:1}SpellDamageGainedAsFire6
Prefix: {range:0.18}IncreasedMana10
Suffix: {range:1}GlobalColdSpellGemsLevelWeapon5
Suffix: {range:0.683}IncreasedCastSpeed5
Suffix: {range:0.979}SpellCriticalStrikeChance3
Quality: 20
Sockets: S S
Rune: Saqawal&apos;s Rune of the Sky
Rune: Hedgewitch Assandra&apos;s Rune of Wisdom
LevelReq: 84
Implicits: 6
{enchant}{rune}+1 to Level of all Spell Skills
{enchant}{rune}Bonded: 12% chance when collecting an Elemental Infusion to gain an
{enchant}{rune}Bonded: additional Elemental Infusion of the same type
{enchant}{rune}Bonded: Archon recovery period expires 30% faster
{enchant}{rune}Gain 5% of Damage as Extra Damage of all Elements
{range:0.951}Grants Skill: Level (1-20) Spellslinger
Gain 31% of Damage as Extra Fire Damage
Gain 34% of Damage as Extra Cold Damage
+129 to maximum Mana
+6 to Level of all Cold Spell Skills
46% increased Critical Hit Chance for Spells
27% increased Cast Speed
		</Item>
		<Item>
			Rarity: RARE
luji lingqu
Dueling Wand
Crafted: true
Prefix: {range:1}SpellDamageGainedAsCold6
Prefix: {range:1}SpellDamageGainedAsFire6
Prefix: {range:0.007}SpellDamageGainedAsLightning6
Suffix: {range:1}GlobalColdSpellGemsLevelWeapon5
Suffix: {range:0.014}SpellCriticalStrikeChance5
Suffix: {range:0.979}SpellCriticalStrikeMultiplier3
Quality: 20
Sockets: S S
Rune: Saqawal&apos;s Rune of the Sky
Rune: Hedgewitch Assandra&apos;s Rune of Wisdom
LevelReq: 84
Implicits: 6
{enchant}{rune}+1 to Level of all Spell Skills
{enchant}{rune}Bonded: 12% chance when collecting an Elemental Infusion to gain an
{enchant}{rune}Bonded: additional Elemental Infusion of the same type
{enchant}{rune}Bonded: Archon recovery period expires 30% faster
{enchant}{rune}Gain 5% of Damage as Extra Damage of all Elements
{range:0.951}Grants Skill: Level (1-20) Spellslinger
Gain 24% of Damage as Extra Fire Damage
Gain 32% of Damage as Extra Cold Damage
Gain 25% of Damage as Extra Lightning Damage
+6 to Level of all Cold Spell Skills
59% increased Critical Hit Chance for Spells
36% increased Critical Spell Damage Bonus
		</Item>
		<ItemSet title="PLANTS双持">
			<Item slotName="Flask 2">
				Rarity: MAGIC
Concentrated Ultimate Mana Flask of the Brewer
Unique ID: 6dd6cb509335711c5ea45c603819c4a7d6eb44de17c5cda744ebda483e83734b
Item Level: 79
Quality: 22
LevelReq: 60
Implicits: 0
69% increased Amount Recovered
29% reduced Charges per use
			</Item>
			<Item slotName="Charm 1">
				Rarity: UNIQUE
Rite of Passage
Golden Charm
Unique ID: c0dcb3bf962d2069afb050832717d9f7d5fa64ec73dfca11eeed8e6552949120
Item Level: 80
Quality: 0
LevelReq: 50
Implicits: 1
Used when you kill a Rare or Unique enemy
Possessed by Spirit Of The Boar for 17 seconds on use
			</Item>
			<Item slotName="Weapon 1">
				Rarity: RARE
Dragon Thirst
Dueling Wand
Unique ID: dd62d16fe4a415de2102fd80e41b85ef89ccdaedb49d7e6d004e4e3280177433
Item Level: 81
Quality: 20
Sockets: S S
Rune: Hedgewitch Assandra&apos;s Rune of Wisdom
Rune: Saqawal&apos;s Rune of the Sky
LevelReq: 78
Implicits: 6
{enchant}{rune}+1 to Level of all Spell Skills
{enchant}{rune}Gain 5% of Damage as Extra Damage of all Elements
{enchant}{rune}Bonded: 12% chance when collecting an Elemental Infusion to gain an
{enchant}{rune}additional Elemental Infusion of the same type
{enchant}{rune}Bonded: Archon recovery period expires 30% faster
Grants Skill: Level 18 Spellslinger
{fractured}+5 to Level of all Cold Spell Skills
{desecrated}89% increased Elemental Damage
Gain 25% of Damage as Extra Fire Damage
97% increased Spell Damage
53% increased Critical Hit Chance for Spells
23% increased Cast Speed
Corrupted
			</Item>
			<Item slotName="Amulet">
				Rarity: RARE
Brood Choker
Gold Amulet
Unique ID: 401d560ae0076cf94b89fa74ff6f777c00237f2af7ef823aaa617a32f0fe26c5
Item Level: 79
LevelReq: 35
Implicits: 2
19% increased Rarity of Items found
Allocates Energise
{fractured}+3 to Level of all Spell Skills
{desecrated}+16% to Lightning and Chaos Resistances
8% increased maximum Mana
+46 to Spirit
16% increased Rarity of Items found
+39% to Fire Resistance
			</Item>
			<Item slotName="Helmet">
				Rarity: UNIQUE
The Vertex
Tribal Mask
Evasion: 79
Energy Shield: 34
Unique ID: 4b672c3e083bd8cbbf2eb9588dcd80317afa07253239dcff14d8f3f3f8d13d5c
Item Level: 81
Quality: 20
Sockets: S S
Rune: Soul Core of Zalatl
Rune: Soul Core of Zalatl
LevelReq: 33
Implicits: 1
{enchant}{rune}6% increased maximum Mana
Has no Attribute Requirements
24% increased Critical Hit Chance
+16% to Chaos Resistance
{mutated}8% increased Attributes
{mutated}+3 to Level of all Skills
Corrupted
			</Item>
			<Item slotName="Weapon 2">
				Rarity: RARE
Soul Chant
Shrine Sceptre
Spirit: 204
Unique ID: bdb2c22dac1f394c33b0cb99dca44b7c590454473c80da9c39cccc83a1b8b85c
Item Level: 80
Quality: 20
Sockets: S S S
Rune: Rabbit Idol
Rune: Rabbit Idol
Rune: Rabbit Idol
LevelReq: 78
Implicits: 3
{enchant}{rune}30% increased Spirit
{enchant}{rune}Bonded: Minions have 90% increased Cooldown Recovery Rate for Command Skills
Grants Skill: Level 18 Purity of Lightning
{fractured}+161 to maximum Mana
{desecrated}19% increased Spirit
{desecrated}+26 to maximum Mana
55% increased Spirit
Allies in your Presence have 18% increased Cast Speed
Allies in your Presence have +16% to all Elemental Resistances
+29 to Intelligence
Corrupted
			</Item>
			<Item slotName="Body Armour">
				Rarity: UNIQUE
The Covenant
Altar Robe
Energy Shield: 225
Unique ID: 89b3caf0b101baaafd24dd1fa6ec5de2b433113ff5393ea39e890540276b2951
Item Level: 82
Quality: 20
Sockets: S S S
Rune: Rabbit Idol
Rune: Rabbit Idol
Rune: Rabbit Idol
LevelReq: 84
Implicits: 3
{enchant}{rune}15% increased Rarity of Items found
{enchant}{rune}Bonded: 15% increased Quantity of Gold Dropped by Slain Enemies
Grants Skill: Level 19 Life Remnants
111% increased Energy Shield
10% of Spell Damage Leeched as Life
{mutated}Regenerate 2.2% of maximum Life per second
{mutated}47% increased Life Cost Efficiency
Corrupted
			</Item>
			<Item slotName="Gloves">
				Rarity: RARE
Armageddon Grip
Vaal Gloves
Energy Shield: 257
Unique ID: 972170d5418c6aefdf69e184685519b0b1b76bb814c994f111685bfc49bab0e7
Item Level: 79
Quality: 20
Sockets: S S
Rune: Tecrod&apos;s Gaze
Rune: Soul Core of Tacati
LevelReq: 75
Implicits: 2
{enchant}{rune}+17% to Chaos Resistance
{enchant}{rune}40% increased Life Cost Efficiency
{fractured}18% increased Rarity of Items found
{desecrated}+34% to Cold Resistance
+57 to maximum Energy Shield
100% increased Energy Shield
+99 to maximum Mana
60% increased effect of Socketed Items
			</Item>
			<Item slotName="Charm 3">
				Rarity: MAGIC
Lustrous Stone Charm of the Sylvan
Unique ID: 513dca78fea93a7b7cdb8624869da6ca491d76b8d15931bd919bebae517826e8
Item Level: 68
Quality: 0
LevelReq: 8
Implicits: 1
Used when you become Stunned
Gains 0.25 Charges per Second
Also grants 304 Guard
			</Item>
			<Item slotName="Ring 1">
				Rarity: RARE
Storm Hold
Prismatic Ring
Unique ID: aca6cf8ac7dd38a8ae05a8c47587d58f964b9ab9029ac7d31f149c79586f5700
Item Level: 82
LevelReq: 35
Implicits: 1
+10% to all Elemental Resistances
{desecrated}20% increased Spell Damage while on Full Energy Shield
+190 to maximum Mana
36% increased Rarity of Items found
18% increased Cast Speed
+33% to Fire Resistance
			</Item>
			<Item slotName="Ring 2">
				Rarity: RARE
Wrath Circle
Gold Ring
Unique ID: af49c4300fa6dade3501d3ab5879db7f69a5a0bad2c9f56e6bc38778fa2e4288
Item Level: 80
LevelReq: 40
Implicits: 1
13% increased Rarity of Items found
{desecrated}20% increased Spell Damage while on Full Energy Shield
+174 to maximum Mana
37% increased Rarity of Items found
24% increased Cast Speed
+35% to Cold Resistance
			</Item>
			<Item slotName="Boots">
				Rarity: RARE
Hypnotic Stride
Dunerunner Sandals
Energy Shield: 253
Unique ID: f671ba0e8c671ae36f4e434b8d4d39ee2d9918e154cf2ce1adab59ae1d344145
Item Level: 78
Quality: 27
Sockets: S S
Rune: Farrul&apos;s Rune of the Chase
Rune: Soul Core of Citaqualotl
LevelReq: 59
Implicits: 3
{enchant}{rune}8% increased Movement Speed
{enchant}{rune}+8% to all Elemental Resistances
{enchant}{rune}Bonded: 16% increased Cooldown Recovery Rate
{fractured}+57 to maximum Energy Shield
{desecrated}+37% to Cold Resistance
30% increased Movement Speed
73% increased Energy Shield
+22% to Lightning Resistance
60% increased effect of Socketed Items
Corrupted
			</Item>
			<Item slotName="Belt">
				Rarity: UNIQUE
Headhunter
Heavy Belt
Charm Slots: 2
Unique ID: 1023b4d280f4afe6eac196d28b0e5e5dc884430d8697619ba80d4bf4339b05df
Item Level: 82
LevelReq: 50
Implicits: 3
25% increased Stun Threshold
Has 2 Charm Slots
+25% to Fire Resistance
+44 to maximum Life
+22 to Strength
+32 to Dexterity
When you kill a Rare monster, you gain its Modifiers for 60 seconds
Corrupted
			</Item>
			<Item slotName="Flask 1">
				Rarity: MAGIC
Hearty Ultimate Life Flask of the Copious
Unique ID: 9144e98824d00215a651dbdf6fe4a40d18e94fdde450806f3de89af6dee51f26
Item Level: 65
Quality: 7
LevelReq: 60
Implicits: 0
54% increased Recovery rate
38% increased Charges
			</Item>
			<Item slotName="Charm 2">
				Rarity: UNIQUE
The Fall of the Axe
Silver Charm
Unique ID: 400a25739e09a35b0bb3b201a92ca6b83eb25ebb6b72b8be0fc0c930a5701207
Item Level: 82
Quality: 9
LevelReq: 10
Implicits: 1
Used when you are affected by a Slow
Grants Onslaught during effect
Corrupted
			</Item>
		</ItemSet>
	</SharedItems>
	<Misc betaTest="false" defaultGemQuality="0" defaultCharLevel="1" invertSliderScrollDirection="false" disableDevAutoSave="false" buildSortMode="NAME" nodePowerTheme="RED/BLUE" colorPositive="^x33FF77" colorNegative="^xDD0022" edgeSearchHighlight="true" colorHighlight="^xFF0000" showAllItemAffixes="true" showThousandsSeparators="true" connectionProtocol="nil" showAnimations="true" decimalSeparator="." showFlavourText="true" defaultItemAffixQuality="0.5" showTitlebarName="true" dpiScaleOverridePercent="0" showWarnings="true" slotOnlyTooltips="true" notSupportedModTooltips="true" thousandsSeparator="," POESESSID=""/>
</PathOfBuilding2>
